html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
@mixin centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  @include centerFlex();
  height: 100vh;
}
header {
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin: 20px 0;
}
.wrapper {
  @include centerFlex();
  border: 1px solid black;
  border-radius: 20px;
  width: 350px;
  padding: 10px 20px;
}
.link-border {
  @include centerFlex();
  width: 100%;

  a {
    text-align: center;
    background-color: rgb(0, 119, 255);
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;
    padding: 20px 50px;
    &:hover {
      background-color: lighten($color: rgb(0, 119, 255), $amount: 10);
    }
  }
}
